[submodule "Carthage/Checkouts/socket.io-client-swift"]
	path = Carthage/Checkouts/socket.io-client-swift
	url = ssh://git@github.com/socketio/socket.io-client-swift.git
[submodule "Carthage/Checkouts/KeychainAccess"]
	path = Carthage/Checkouts/KeychainAccess
	url = ssh://git@github.com/mherod/KeychainAccess.git
[submodule "Carthage/Checkouts/CocoaLumberjack"]
	path = Carthage/Checkouts/CocoaLumberjack
	url = ssh://git@github.com/CocoaLumberjack/CocoaLumberjack.git
[submodule "Carthage/Checkouts/NSInvocation-Helpers"]
	path = Carthage/Checkouts/NSInvocation-Helpers
	url = ssh://git@github.com/stephanecopin/NSInvocation-Helpers.git
[submodule "Carthage/Checkouts/ethanol-utilities"]
	path = Carthage/Checkouts/ethanol-utilities
	url = ssh://git@github.com/Fueled/ethanol-utilities.git
[submodule "Carthage/Checkouts/ethanol-ui-extensions"]
	path = Carthage/Checkouts/ethanol-ui-extensions
	url = ssh://git@github.com/Fueled/ethanol-ui-extensions.git
[submodule "Carthage/Checkouts/ethanol-tools"]
	path = Carthage/Checkouts/ethanol-tools
	url = ssh://git@github.com/Fueled/ethanol-tools.git
[submodule "Carthage/Checkouts/ethanol-validation-formatting"]
	path = Carthage/Checkouts/ethanol-validation-formatting
	url = ssh://git@github.com/Fueled/ethanol-validation-formatting.git
[submodule "Carthage/Checkouts/ethanol-ui-components"]
	path = Carthage/Checkouts/ethanol-ui-components
	url = ssh://git@github.com/Fueled/ethanol-ui-components.git
[submodule "Carthage/Checkouts/SlackTextViewController"]
	path = Carthage/Checkouts/SlackTextViewController
	url = ssh://git@github.com/slackhq/SlackTextViewController.git
[submodule "Carthage/Checkouts/libPhoneNumber-iOS"]
	path = Carthage/Checkouts/libPhoneNumber-iOS
	url = ssh://git@github.com/iziz/libPhoneNumber-iOS.git
